/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  .rec-label {
    position: absolute;
    top: 10px;
    right: 22px;
    /* color: var(--accent-color); */
  }

  .rec-label::before {
    content: "REC";
    position: absolute;
    right: 19px;
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .rec-label::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
  }
}
