/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background: url(../images/cover-image-light.png);
  --title: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --text: rgba(53, 52, 48, 1);
  --paddings: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.theme-light .rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background: url(../images/cover-image-light.png);
    --title: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --text: rgba(53, 52, 48, 1);
    --paddings: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  }

  .rec-label {
    display: none;
  }
}
