.page {
  position: relative;
  font-family: var(--main-font, sans-serif);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "menu"
    "title"
    "subtitle";
  padding: var(--padding-grouth);
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  box-sizing: border-box;
}

.header__title {
  color: var(--title);
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0px var(--accent-color);
  display: grid;
  align-self: center;
  grid-area: title;
  justify-self: start;
  margin-right: auto;
  margin-inline-start: calc(20px - (2 * var(--padding-grouth)));
}

.header__subtitle {
  margin: auto 0;
  grid-area: subtitle;
  max-width: 364px;
  font-family: var(--main-font, san-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border: 1px solid var(--header-decorate-color);
  position: absolute;
}

/* Правый верхний угол */
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

/* Левый нижний угол */
.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-inline-end: none;
  border-top: none;
}

.rec-label {
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 19px;
}

.rec-label::before {
  content: "REC";
  position: absolute;
  right: 19px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.rec-label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  grid-column: 2;
}

.header__theme-menu-button {
  font-weight: 400;
  font-style: Regular;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  padding: 2px 12px 2px 12px;
  border: 1px solid transparent;
  font-size: 18px;
  color: var(--header-decorate-color);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--header-theme-menu-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end-color: rgb(var(--header-decorate-color));
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--header-theme-menu-color);
}

.accent-background {
  background-color: var(--accent-color);
  color: var(--background);
  margin-bottom: 10px;
  height: min-content;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.accent-background__title {
  margin-bottom: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: clamp(40px, 1.3073rem + 5.0891vw, 60px) var(--padding-grouth);
  gap: clamp(50px, 1.3359rem + 7.6336vw, 80px);
}

.section-title {
  color: var(--section-title);
  font-size: 18px;
  line-height: 23.4px;
  margin-block-start: 0;
}

.section-text {
  font-size: 18px;
  line-height: 23.4px;
}

.title-concetration {
  max-width: 355px;
}

.list__reduce {
  display: grid;
  gap: 20px;
}

.list__advice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__concetrate-better-margin {
  margin-block-end: 20px;
}

.content {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
}

.main__section-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heading-bold {
  font-weight: 700;
}

.heading-regular {
  font-weight: 400;
}

.color-content {
  color: var(--content-color);
}

.advice__title_color-tips {
  color: var(--tips-bg-color);
}

.main__section-link-decor {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.main__section-link-decor:hover {
  border-bottom: 1px solid var(--content-color);
}

.main__section-link-decor:focus-visible {
  outline: 1px solid var(--content-color);
}

.gallery__grid {
  margin-block-start: var(--padding-grouth);
  gap: var(--padding-grouth);
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
}

.footer__title {
  color: var(--title);
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0px var(--accent-color);
  grid-row: 2;
}

@media (width >= 768px) {
  :root {
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-label {
    top: 20px;
    right: 32px;
  }

  .title-concetration {
    max-width: 236px;
  }

  .header__theme-menu-list {
    padding-right: 0px;
  }

  .content__what-reduces-concentration.gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__what-reduces-concentration .list-prevent {
    grid-column: 1/4;
  }

  .content__how-to-concetrate,
  .content__concetrate-better {
    grid-template-columns: 1fr 2fr;
  }

  .content__how-to-concetrate .grid-item,
  .content__concetrate-better .grid-item {
    grid-column: 2/3;
  }

  .gallery__image {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer__title {
    font-size: var(--header-title-size);
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    max-width: 491px;
  }

  .title-concetration {
    max-width: 315px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: clamp(273px, 0.7292rem + 34.0278vh, 420px);
  }

  .header__theme-menu-list {
    flex-direction: row;
    position: relative;
    top: -3px;
    padding-right: 0px;
  }

  .header__theme-menu-button {
    block-size: 28px;
    inline-size: 70px;
  }

  .content__how-to-concetrate .grid-item,
  .content__concetrate-better .grid-item {
    grid-column: 2/4;
  }

  .content__how-to-concetrate,
  .content__concetrate-better {
    grid-template-columns: repeat(3, 1fr);
  }

  .list__reduce {
    grid-template-columns: repeat(3, 1fr);
  }
}
