/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  font-family: var(--main-font, sans-serif);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "menu"
    "title"
    "subtitle";
  padding: var(--paddings);
  justify-items: end;
  align-items: center;
  min-height: 100vh;
}

.header__title {
  color: var(--title);
  font-weight: 700;
  font-size: var(--header__title-size);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0px var(--accent-color);
  display: grid;
  align-self: center;
  grid-area: title;
  justify-self: start;
  margin-right: auto;
  margin-inline-start: calc(20px - (2 * var(--paddings)));
}

.header__subtitle {
  margin: auto 0;
  grid-area: subtitle;
  max-width: 364px;
  font-family: var(--main-font, san-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitle);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border: 1px solid var(--header-decorate-color);
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
}

/* Правый верхний угол */
.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-left: none;
  border-bottom: none;
}

/* Левый нижний угол */
.decorated-zone::after {
  bottom: var(--paddings);
  left: var(--paddings);
  border-inline-end: none;
  border-top: none;
}

.rec-label {
  position: absolute;
  color: var(--accent-color);
  top: clamp(10px, 0.0286rem + 2.5445vw, 21px);
  right: clamp(38px, 1.7786rem + 2.5445vw, 49px);
}

.header__theme-menu {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 10px;
  list-style: none;
  grid-column: 2;
}

.header__theme-menu-button {
  padding: 1px 12px 1px 12px;
  border: 1px solid transparent;
  font-size: 18px;
  color: var(--header-decorate-color);
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--header-decorate-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end-color: rgb(var(--header-decorate-color));
}

.accent-background {
  background-color: var(--accent-color);
  color: var(--background);
  margin-bottom: 10px;
  height: min-content;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: clamp(40px, 1.3073rem + 5.0891vw, 60px) var(--paddings);
  gap: clamp(50px, 1.3359rem + 7.6336vw, 80px);
}

.main__title {
  color: var(--subtitle);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-start: 0;
}

.main__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.title-concetration {
  max-width: 355px;
}

.list__reduce {
  display: grid;
  gap: 20px;
}

.list__advice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__concetrate-better-margin {
  margin-block-end: 20px;
}

.content {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.main__section-text {
  color: var(--text);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.main__section-text-tips {
  color: var(--tips);
  font-weight: 400;
}

/* .decor {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-shadow: 2px 1px 0px var(--accent-color);
} */

.main__section-link-decor {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.main__section-link-decor:hover {
  border-bottom: 1px solid var(--text);
}

.main__section-link-decor:focus-visible {
  outline: 1px solid var(--text);
}

.gallery__grid {
  margin-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  gap: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  place-items: center;
  padding: 0 10px 0 10px;
}

.footer__title {
  color: var(--title);
  font-weight: 700;
  font-size: var(--header__title-size);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0px var(--accent-color);
  grid-row: 2;
  justify-self: center;
  align-self: center;
  z-index: 2;
  margin: 0;
}

@media (width >= 768px) {
  :root {
    --header__title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-concetration {
    max-width: 236px;
  }

  .header__theme-menu-list {
    padding-right: 0px;
  }

  .content__what-reduces-concentration.gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__what-reduces-concentration .list-prevent {
    grid-column: 1/4;
  }

  .content__how-to-concetrate,
  .content__concetrate-better {
    grid-template-columns: 1fr 2fr;
  }

  .content__how-to-concetrate .grid-item,
  .content__concetrate-better .grid-item {
    grid-column: 2/3;
  }

  .gallery__image {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    max-width: 491px;
  }

  .title-concetration {
    max-width: 315px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: clamp(273px, 0.7292rem + 34.0278vh, 420px);
  }

  .header__theme-menu-list {
    flex-direction: row;
    position: relative;
    top: -3px;
    padding-right: 0px;
  }

  .content__how-to-concetrate .grid-item,
  .content__concetrate-better .grid-item {
    grid-column: 2/4;
  }

  .content__how-to-concetrate,
  .content__concetrate-better {
    grid-template-columns: repeat(3, 1fr);
  }

  .list__reduce {
    grid-template-columns: repeat(3, 1fr);
  }
}
