/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --background-image: url(../images/cover-image-dark.png);
    --background: rgba(0, 0, 40, 1);
    --title: rgba(219, 0, 255, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --content-color: rgba(241, 178, 206, 1);
    --main-font: "IBM Plex Mono";
    --padding-grouth: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    --section-title: rgba(255, 0, 112, 1);
    --tips-bg-color: rgba(0, 0, 40, 1);
    --header-theme-menu-color: rgba(255, 0, 112, 1);
    --header-theme-menu-hover-color: rgba(255, 0, 112, 0.4);
    --header-title-size:  clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}